*.o
*.old
*.tmp
*.tmp.*
*.backup
*.backup.*
.directory
externalConfigurations/ags/types
externalConfigurations/onedrive/*/*.hash
externalConfigurations/onedrive/*/*.sqlite3
externalConfigurations/onedrive/*/refresh_token
